h2 {
  margin-top: 50px;
  font-size: 3em;
  color: #921b9c;
}

li {
  color: #921b9c;
  font-size: 2em;
}

#carn {
  height: 250px;
  width: 300px;
  background-color: #6de064;
  margin: 0 auto;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#herb {
  height: 250px;
  width: 300px;
  background-color: #6de064;
  margin: 0 auto;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

body {
  background-color: #921b9c;
}

#wrapper {
  width: 500px;
  margin: 0 auto;
}
